header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-clr);
    padding: 1rem 1.5rem;
}

.logo {
    color: var(--white-clr);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 900;
}

@media screen and (max-width: 768px) {
    header {
        padding: 1rem .5rem;
    }
}

/* nav items */
.navbar
.nav-lists {
    display: flex;
}
/* nav item */
.nav-lists
.nav-item {
    margin: 0 1rem;
}
.nav-lists
.nav-item
.nav-link {
    color: var(--white-clr);
    font-size: 1.05rem;
    font-weight: 500;
    text-decoration: none;
    position: relative;
}
.nav-lists
.nav-item
.nav-link::before {
    content: "";
    background-color: var(--white-clr);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: .14rem;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 300ms;
}
.nav-lists
.nav-item
.nav-link:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}
.nav-menus {
    display: none;
}

/* active nav link sylings*/
.active {
    position: relative;
}
.active::before {
    content: "";
    background-color: var(--white-clr);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: .14rem;
    transform: scaleX(1) !important;
}
@media screen and (min-width: 768px) {
    /* remove margin right to the last item */
    .nav-lists
    .nav-item:last-child {
        margin: 0;
    }
}
@media screen and (max-width: 768px) {
    .nav-menus {
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .bx-menu,
    .bx-x {
        cursor: pointer;
        color: var(--white-clr);
        font-size: 2.5rem;
    }
    .bx-x {
        display: none;
    }
    .showClose {
        display: block;
    }
    /* navbar */
    .navbar {
        background-color: var(--primary-clr);
        position: absolute;
        top: 4.2rem;
        right: 0;
        border-bottom-left-radius: .2rem;
        transform: scaleY(0);
        transform-origin: top;
        transition: 300ms transform;
    }
    .showMenu {
        transform: scaleY(1);
    }
    /* nav items */
    .navbar
    .nav-lists {
        flex-direction: column;
        padding: .8rem 2rem;
    }
    /* nav item */
    .nav-lists
    .nav-item {
        margin: 1rem 0;
    }
}
