@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-clr);
    padding: 1rem 1.5rem;
}

.logo {
    color: var(--white-clr);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 900;
}

/* nav items */
.navbar
.nav-lists {
    display: flex;
}
/* nav item */
.nav-lists
.nav-item {
    margin: 0 1rem;
    position: relative;
}
.nav-lists
.nav-item::before {
    content: "";
    background-color: var(--white-clr);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: .14rem;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 300ms;
}
.nav-lists
.nav-item:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}
.nav-lists
.nav-item
.nav-link {
    color: var(--white-clr);
    font-size: 1.05rem;
    font-weight: 500;
    text-decoration: none;
}
.active {
    position: relative;
}
.active::before {
    content: "";
    background-color: var(--white-clr);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: .14rem;
    transform: scaleX(1) !important;
}
/* remove margin right to the last item */
.nav-lists
.nav-item:last-child {
    margin: 0;
}