
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-clr: #133039;
    --white-clr: #F7FBFC;
    --white-clr-alt: #475D64;
    --input-border-clr: #E1E1E1;
}

/* -- BASE -- */
li,
ul {
    list-style: none;
}

body {
    background-color: var(--white-clr);
    color: var(--primary-clr);
    font-family: 'Poppins', sans-serif;
}
