@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-clr: #133039;
    --white-clr: #F7FBFC;
    --white-clr-alt: #475D64;
    --input-border-clr: #E1E1E1;
    --card-clr: #F2F6F7;
    --gray-clr: #99A7AB;
}

/* -- BASE -- */
li,
ul {
    list-style: none;
}
img {
    height: auto;
    width: 100%;
}
.hide {
    display: none;
}
.show {
    display: block;
}
.container {
    padding: .5rem;
}
@media screen and (min-width: 768px) {
    .container {
        padding: 0 1rem;
    }
}

body {
    background-color: var(--white-clr);
    color: var(--primary-clr);
    font-family: 'Poppins', sans-serif;
}
